.music-title {
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
    padding-top: 16px;
    text-align: center;
    background-color: #000;
    color: rgba(245, 215, 110, 1);
}

.player {
    height: 15vw;
    width: 13vw;
    background: #000;
    cursor: pointer;
}

.back-side-flip {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.draggable-player {
    z-index: 99999;
    cursor: pointer;
    border: 4px solid rgba(245, 215, 110, 1);
    color: rgba(245, 215, 110, 1);
    background-color: #000;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    position: absolute;
    padding: 24px;
    font-size: 16px;
}