.music-title {
    font-size: 1em;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
    padding-top: 16px;
    text-align: center;
    background-color: #000;
    color: rgba(245, 215, 110, 1);
}

.player {
    height: 15vh;
    width: 15vh;
    background: #000;
    cursor: pointer;
}

.back-side-flip {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}