.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.option {
    display: flex;
    height: 38px;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 8px;
    transition: 1s;
}

.option:hover {
}

.option-text {
    justify-content: flex-start;
    border-radius: inherit;
    display: flex;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
    background-color: #000;
    width: 120px;
    height: 38px;
    padding-left: 8px;
    color: rgba(245, 215, 110, 1);
    border: 4px solid rgba(245, 215, 110, 1);
}

.option-line {
    width: 24px;
    height: 8px;
    background-color: rgba(245, 215, 110, 1);
    border-radius: 50px;
    margin: 4px;
}

.option:last-child {
    margin-bottom: 0;
    border-radius: 0 0 18px 0;
}

.option:first-child {
    margin-top: 0;
    border-radius: 0 18px 0 0;
}

.cowboy {
    background-color: rgba(245, 215, 110, 1);
    /* background-image: url('../../../../images/cowboy.png'); */
    /* background-size: cover; */
    /* width: 120px; */
    /* height: 120px; */
}